body{
  padding: 25px;
  display: flex;
  justify-content: center;
}

.App {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 10px;
  width: 350px;
  color: rgb(80, 80, 80);
}

